.VideoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.VideoFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.video {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
